@{
    ViewData["Title"] = "Shared  page";
}

<h2>Student Information</h2>

<div style="border: 1px solid black; padding: 15px; width: 1000px;">
    <p><strong>Name:</strong> @ViewBag.StudentName</p>
    <p><strong>Data:</strong> @ViewBag.StudentData</p>
</div>