USE [collage]
GO
/****** Object:  StoredProcedure [dbo].[ups_getstudentName]    Script Date: 28-01-2026 10:14:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[ups_getstudentName]
as 
begin
select * from CollageMaster where Name like 'a%'
end